{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Archivage Electronique</title>
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="sidebar-container">
  <div class="sidebar-logo">
    ArchiFile
  </div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <a href="#">
        <i class="fa fa-home" aria-hidden="true"></i>Indexation
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-tachometer" aria-hidden="true"></i>Recherche personnelle
      </a>
    </li>
    <li class="header">Recherche Client</li>
    <li>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i>Recherche Fournisseur
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog" aria-hidden="true"></i>Utilisateurs
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info-circle" aria-hidden="true"></i>Reglage
      </a>
    </li>
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
     
    </div>

  </div>
</div>
</body>
</html>








